trigger:
  branches:
    include:
    - main
  paths:
    exclude:
    - README.md
    - '*.md'

pool:
  vmImage: 'ubuntu-latest'

variables:
  # Update these variables according to your setup
  TERRAFORM_VERSION: '1.6.6'
  # Azure service connection name (create this in Azure DevOps)
  AZURE_SERVICE_CONNECTION: 'azure-service-connection'
  # Backend configuration for Terraform state (optional but recommended)
  BACKEND_RESOURCE_GROUP: 'rg-terraform-state'
  BACKEND_STORAGE_ACCOUNT: 'tfstatestg007'
  BACKEND_CONTAINER_NAME: 'tfstate'
  BACKEND_KEY: 'terraform.tfstate'

stages:
- stage: Validate
  displayName: 'Validate Terraform'
  jobs:
  - job: Validate
    displayName: 'Validate Terraform Configuration'
    steps:
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: $(TERRAFORM_VERSION)
    
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV4@4
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)'
        backendServiceArm: $(AZURE_SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RESOURCE_GROUP)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE_ACCOUNT)
        backendAzureRmContainerName: $(BACKEND_CONTAINER_NAME)
        backendAzureRmKey: $(BACKEND_KEY)
    
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV4@4
      displayName: 'Terraform Validate'
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)'
    
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV4@4
      displayName: 'Terraform Format Check'
      inputs:
        provider: 'azurerm'
        command: 'custom'
        customCommand: 'fmt'
        commandOptions: '-check -recursive'
        workingDirectory: '$(System.DefaultWorkingDirectory)'
      continueOnError: true

- stage: Plan
  displayName: 'Terraform Plan'
  dependsOn: Validate
  condition: succeeded()
  jobs:
  - job: Plan
    displayName: 'Generate Terraform Plan'
    steps:
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: $(TERRAFORM_VERSION)
    
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV4@4
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)'
        backendServiceArm: $(AZURE_SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RESOURCE_GROUP)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE_ACCOUNT)
        backendAzureRmContainerName: $(BACKEND_CONTAINER_NAME)
        backendAzureRmKey: $(BACKEND_KEY)
    
    - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV4@4
      displayName: 'Terraform Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)'
        environmentServiceNameAzureRM: $(AZURE_SERVICE_CONNECTION)
        commandOptions: '-out=tfplan'
    
    - task: PublishPipelineArtifact@1
      displayName: 'Publish Terraform Plan'
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/tfplan'
        artifact: 'tfplan'
        publishLocation: 'pipeline'

- stage: Apply
  displayName: 'Terraform Apply'
  dependsOn: Plan
  condition: succeeded()
  jobs:
  - deployment: Apply
    displayName: 'Apply Terraform Configuration'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          
          - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: $(TERRAFORM_VERSION)
          
          - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV4@4
            displayName: 'Terraform Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)'
              backendServiceArm: $(AZURE_SERVICE_CONNECTION)
              backendAzureRmResourceGroupName: $(BACKEND_RESOURCE_GROUP)
              backendAzureRmStorageAccountName: $(BACKEND_STORAGE_ACCOUNT)
              backendAzureRmContainerName: $(BACKEND_CONTAINER_NAME)
              backendAzureRmKey: $(BACKEND_KEY)
          
          - task: DownloadPipelineArtifact@2
            displayName: 'Download Terraform Plan'
            inputs:
              artifact: 'tfplan'
              path: '$(System.DefaultWorkingDirectory)'
          
          - task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV4@4
            displayName: 'Terraform Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)'
              environmentServiceNameAzureRM: $(AZURE_SERVICE_CONNECTION)
              commandOptions: 'tfplan'
